<div id="chat">Loading messages...</div>
<hr>
<form action="javascript: void(0);" id="chat-form">
    <input type="text" name="chat-message" autocomplete="off" required>
    <button type="submit">Send</button>
</form>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const chat = document.getElementById('chat');
    const chat_form = document.getElementById('chat-form');

    const channels = {};

    var has_synced = false;

    function add_channel(name, value, is_default) {
        if(is_default) {
            for(const channel_name in channels) {
                channels[channel_name].channel_input.checked = false;
                channels[channel_name].channel_content.style.display = 'none';
            }
        }
        let l = document.createElement('label');
        l.innerText = name;
        let i = document.createElement('input');
        i.type = 'radio';
        i.name = 'channel';
        i.value = value;
        i.checked = is_default;
        l.appendChild(i);
        l.addEventListener('input', (event) => {
            for(const channel_name in channels) {
                channels[channel_name].channel_input.checked = false;
                channels[channel_name].channel_content.style.display = 'none';
            }
            channels[value].channel_input.checked = true;
            channels[value].channel_content.style.display = 'block';
            chat.scrollTop = chat.scrollTopMax;

            chat_form.parentNode.querySelectorAll('label').forEach(label => label.classList.remove('selected'));
            l.classList.add('selected');
        });
        if(is_default) {
            chat_form.querySelectorAll('label').forEach(label => label.classList.remove('selected'));
            l.classList.add('selected');
        }
        chat_form.prepend(l);

        let div = document.createElement('div');
        div.classList.add('chat-channel');
        chat.appendChild(div);

        channels[value] = {channel_input: l, channel_content:div};
    }

    function add_message(channel, msg) {
        if(!channels[channel]) {
            return;
        }
        const message = document.createElement('div');
        message.innerText = msg.author + ': ' + msg.message;
        const scroll = (chat.scrollTop - chat.scrollTopMax) === 0;
        channels[channel].channel_content.appendChild(message);
        if(scroll) {
            chat.scrollTop = chat.scrollTopMax;
        }
    }

    socket.on('chat', data => {
        if(data.type === 'sync-request') {
            if(has_synced) {
                return;
            }
            chat.innerText = '';
            has_synced = true;
            for(const channelName in data.channels) {
                add_channel(data.channels[channelName].name, channelName, true);
                const messages = data.channels[channelName].history;
                for(const message of messages) {
                    add_message(channelName, message);
                }
            }
        }
        else {
            add_message(data.channel, data.message);
        }
    });

    const message_input = chat_form.querySelector('input[name=chat-message]');

    chat_form.addEventListener('submit', event => {
        let data = new FormData(chat_form);
        event.preventDefault();
        data.forEach((r) => console.log(r));
        socket.emit('chat', {
            type: 'message', 
            channel: data.get('channel'), 
            message: data.get('chat-message')
        });
        message_input.value = '';
    });


    socket.emit('chat', {type: 'sync-request'});
});
</script>