<h1>Monopolobbies</h1>
<section class="panel panel-centered center">
    <h2>Choose your username</h2>
    <form action="/request" method="POST">
        <input type="hidden" name="type" value="register">
        <input id="username-field" type="text" name="username" placeholder="Username"
            maxlength="30" minlength="3" required>
        <input type="submit" value="Connect">
    </form>
</section>