<h1 id='lobby-name'>Lobby</h1>

<p id="lobby-error"></p>
<section class="panel panel-centered">
    <h2>Lobby Settings</h2>
    <div>
        <input type="text" id="lobby-settings-name" name="lobby-name" placeholder="Lobby Name" maxlength="100" minlength="4" disabled>
        <input type="text" id="lobby-settings-password" name="password" placeholder="Password" maxlength="64" disabled>
    </div>
    <hr>
    <button id="lobby-start" disabled>Start Game</button>
</section>

<section class="panel panel-centered">
    <h2>Player List</h2>
    <ul id="player-list">
        <p>Loading players...</p>
    </ul>
</section>

<section class="panel panel-centered">
    <h2>Chat</h2>

    <%- include('./chat.ejs'); %>
</section>

<div class="panel panel-centered">
    <button id="lobby-leave" type="submit">Leave Lobby</button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const player_list = document.getElementById('player-list');

        var updated_once = false;
        var is_owner = false;
        var lobbyid = -1;

        socket.on('lobby', data => {
            if(data.type === 'update') {
                let info = data.data;

                document.getElementById('lobby-name').innerText = info.name;
                if(!updated_once) {
                    oldName = info.name;
                    lobbyNameInput.value = info.name;
                    lobbyid = info.id;
                }

                while(player_list.firstChild) {
                    player_list.removeChild(player_list.firstChild);
                }
                for(const player of info.players) {
                    let playerElem = document.createElement('li');
                    playerElem.innerText = (player.owner ? '*' : '') + '[' + player.id + '] ' + player.name + (player.id === data.myself ? ' (You)' : '');
                    player_list.appendChild(playerElem);

                    if(player.owner) {
                            is_owner = player.id === data.myself;
                    }
                }

                lobbyNameInput.disabled = !is_owner;
                lobbyPasswordInput.disabled = !is_owner;
                lobbyStartButton.disabled = !is_owner;
                
                if(info.players.length < 2) {
                    lobbyStartButton.disabled = true;
                }
            }
            else if (data.type === 'start') {
                if(data.data.ok) {
                    window.location.replace('/game/'+lobbyid);
                }
                else {
                    document.getElementById('lobby-error').innerText = data.data.err;
                }
            }
        });
        
        const lobbyNameInput = document.getElementById('lobby-settings-name');
        const lobbyPasswordInput = document.getElementById('lobby-settings-password');
        var oldName = '';
        var oldPass = '';

        lobbyNameInput.addEventListener('blur', event => {
            if (oldName !== lobbyNameInput.value) {
                socket.emit('lobby', {type: 'edit', key: 'name', value: lobbyNameInput.value});
                oldName = lobbyNameInput.value;
            }
        });
        lobbyPasswordInput.addEventListener('blur', event => {
            if (oldPass !== lobbyPasswordInput.value) {
                socket.emit('lobby', {type: 'edit', key: 'password', value: lobbyPasswordInput.value});
                oldPass = lobbyPasswordInput.value;
            }
        });

        const lobbyLeaveButton = document.getElementById('lobby-leave');
        const lobbyStartButton = document.getElementById('lobby-start');
        lobbyLeaveButton.addEventListener('click', event => {
            let httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = () => {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    window.location.replace('/home');
                }
            };
            httpRequest.open('POST', '/request', true);
            httpRequest.setRequestHeader('Content-Type', 'application/json');
            httpRequest.send(JSON.stringify({
                type: 'lobby',
                action: 'leave'
            }));
        });
        lobbyStartButton.addEventListener('click', event => {
            socket.emit('lobby', {type:'start'});
        });

        socket.emit('lobby', {type: 'sync-request'});
    });
</script>